%h3 Add Service
= form_for [@car, ServiceRecord.new], html: {class: 'form-horizontal', novalidate: true} do |f|
  = f.hidden_field :car_id, value: @car.id

  .form-group
    = f.label :date, class: 'control-label col-xs-3'
    .col-xs-9
      .input-group
        .input-group-btn
          .btn.btn-default.today Today
        = f.text_field :date, class: 'form-control date', autocomplete: 'off'

  .form-group
    = f.label :mileage, class: 'control-label col-xs-3'
    .col-xs-9
      = f.number_field :mileage, class: 'form-control', autocomplete: 'off'
  .form-group
    = f.label :cost, class: 'control-label col-xs-3'
    .col-xs-9
      .input-group
        %span.input-group-addon $
        = f.number_field :cost, class: 'form-control', autocomplete: 'off'

  .form-group
    = f.label :service_types, "Type", class: 'control-label col-xs-3'
    .col-xs-9
      = f.select :service_types, options_for_select(@service_types), {}, multiple: true

  .form-group
    = f.label :notes, class: 'control-label col-xs-3'
    .col-xs-9
      = f.text_area :notes, class: 'form-control', autocomplete: 'off'

  .text-right
    = f.submit 'add', class: 'btn btn-primary btn-lg'
