%h3 Add Service
= form_for Service.new, html: {class: 'form-horizontal'} do |f|
  = f.hidden_field :car_id, value: @car.id

  .form-group
    = f.label :date, class: 'control-label col-xs-3'
    .col-xs-9
      .input-group
        .input-group-btn
          .btn.btn-default.today Today
        = f.text_field :date, class: 'form-control date', autocomplete: 'off'

  .form-group
    = f.label :mileage, class: 'control-label col-xs-3'
    .col-xs-9
      = f.number_field :mileage, class: 'form-control', autocomplete: 'off'

  -# this should be one of those select/text field hybrids. type gets saved in its own table (probably with an after_save in the service model), and these are used to populate the select functionality
  .form-group
    = f.label :type, class: 'control-label col-xs-3'
    .col-xs-9
      = f.select :type, options_for_select([['Lisbon', 1], ['Madrid', 2]]), class: 'form-control', autocomplete: 'off'

  .form-group
    = f.label :notes, class: 'control-label col-xs-3'
    .col-xs-9
      = f.text_area :notes, class: 'form-control', autocomplete: 'off'

  .text-right
    = f.submit 'add', class: 'btn btn-primary btn-lg'
