%h1 Sign In
= form_tag action: 'create' do
	= label_tag :username, 'Username'
	= text_field_tag :username, params[:username]

	= label_tag :password, 'Password'
	= password_field_tag :password, params[:password]

	= label_tag :remember_me, 'Remember Me', class: 'remember-me'
	= check_box_tag :remember_me, 1, params[:remember_me]

	%br
	= submit_tag "Sign In", class: 'btn'
