<h1>Sign In</h1>
<div>
	<%= form_tag action: 'create' do %>
		<div>
			<%= label_tag :username, 'Username' %>
			<%= text_field_tag :username, params[:username] %>
		</div>

		<div>
			<%= label_tag :password, 'Password' %>
			<%= password_field_tag :password, params[:password] %>
		</div>

		<div>
			<%= label_tag :remember_me, 'Remember Me', class: 'remember-me' %>
			<%= check_box_tag :remember_me, 1, params[:remember_me] %>
		</div>

		<br />
		<div>
			<%= submit_tag "Sign In", class: 'btn' %>
		</div>
	<% end %>
</div>
