%h3 Add Gas
= form_for GasRecord.new, html: {class: 'form-horizontal', novalidate: true} do |f|
  = f.hidden_field :car_id, value: @car.id

  .form-group
    = f.label :date, class: 'control-label col-xs-3'
    .col-xs-9
      .input-group
        .input-group-btn
          .btn.btn-default.today Today
        = f.text_field :date, class: 'form-control date', autocomplete: 'off'

  .form-group
    = f.label :mileage, class: 'control-label col-xs-3'
    .col-xs-9
      = f.number_field :mileage, class: 'form-control', autocomplete: 'off'

  .form-group
    = f.label :cost, class: 'control-label col-xs-3'
    .col-xs-9
      .input-group
        %span.input-group-addon $
        = f.number_field :cost, class: 'form-control', autocomplete: 'off'

  .form-group
    = f.label :volume, current_user.volume_unit, class: 'control-label col-xs-3'
    .col-xs-9
      = f.number_field :volume, class: 'form-control', autocomplete: 'off'

  .text-right
    = f.submit 'add', class: 'btn btn-primary btn-lg'
