- if @user.errors.any?
	- @user.errors.full_messages.each do |msg|
		.alert.alert-error= msg

= form_for @user, html: { multipart: true } do |f|
	= f.label :username, 'Username'
	= f.text_field :username
	
	= f.label :password, 'Password'
	= f.password_field :password

	= f.label :password_confirmation, 'Confirm Password'
	= f.password_field :password_confirmation

	= f.submit
	= cancel_link
