%h1 Settings
%br
= form_for @user, html: {class: 'form-horizontal'} do |f|

  .form-group
    = f.label :primary_car_id, class: 'control-label col-xs-6 col-sm-3'
    .col-xs-6
      = f.select :primary_car_id, options_for_select(@primary_car_options, @user.primary_car ? @user.primary_car.id : nil), {}, { class: 'form-control' }

  .form-group
    = f.label :number_of_gas_records, class: 'control-label col-xs-6 col-sm-3'
    .col-xs-6
      = f.number_field :number_of_gas_records, class: 'form-control', pattern: '\d*'

  .form-group
    = f.label :number_of_service_records, class: 'control-label col-xs-6 col-sm-3'
    .col-xs-6
      = f.number_field :number_of_service_records, class: 'form-control', pattern: '\d*'

  .form-group
    = f.label :distance_unit, class: 'control-label col-xs-6 col-sm-3'
    .col-xs-6
      = f.text_field :distance_unit, class: 'form-control'

  .form-group
    = f.label :volume_unit, class: 'control-label col-xs-6 col-sm-3'
    .col-xs-6
      = f.text_field :volume_unit, class: 'form-control'

  .text-right
    = f.submit 'save', class: 'btn btn-primary btn-lg'
