%h1 Settings
%br
= form_for @user, html: {class: 'form-horizontal'} do |f|

  .form-group
    = f.label :primary_car_id, class: 'control-label col-xs-3'
    .col-xs-9
      = f.select :primary_car_id,                  |
      options_for_select(@user.cars.order("name"). |
      collect{ |c| [c.name, c.id] },               |
      @user.primary_car.id),                       |
      {}, { class: 'form-control' }                |

  .form-group
    = f.label :number_of_records, class: 'control-label col-xs-3'
    .col-xs-9
      = f.number_field :number_of_records, class: 'form-control', pattern: '\d*'

  .form-group
    = f.label :distance_unit, class: 'control-label col-xs-3'
    .col-xs-9
      = f.text_field :distance_unit, class: 'form-control'

  .form-group
    = f.label :volume_unit, class: 'control-label col-xs-3'
    .col-xs-9
      = f.text_field :volume_unit, class: 'form-control'

  .text-right
    = f.submit 'save', class: 'btn btn-primary btn-lg'
