
%table.table.records
  %thead
    %tr
      %th Date
      %th Mileage
      %th Gallons
      %th Cost
      %th.hidden-xs
      -#
        %th Miles
        %th MPG
        %th
  %tbody>
    - records.each_with_index do |rec, i|
      %tr{class: ("no-stat" if !rec.stat?)}
        %td.date
          = rec.date.strftime('%b %-d')
        %td= number_with_delimiter(rec.mileage, delimiter: ',')
        %td= number_with_precision(rec.gallons, precision: 2)
        %td= number_to_currency(rec.cost)
        -# %td= rec.mileage - records[i-1].mileage if i != 0 && rec.stat?
        -# %td= number_with_precision((rec.mileage - records[i-1].mileage) / rec.gallons, precision: 2) if i != 0 && rec.stat?
        %td.hidden-xs
          = link_to 'stats: yes', enable_stats_record_path(rec.id) if !rec.stat?
          = link_to 'stats: no', disable_stats_record_path(rec.id) if rec.stat?
          |
          = link_to 'delete', rec, method: :delete, data: { confirm: "Are you sure you want to delete this record?" }

