%div
	= form_for Record.new, 
		html: {class: "add-record", id: "add-record"} do |r|
		= r.hidden_field :car_id, value: @car.id
		= r.text_field :date, placeholder: 'Date', autocomplete: 'off'
		= r.text_field :mileage, placeholder: 'Mileage', autocomplete: 'off'
		= r.text_field :gallons, placeholder: 'Gallons', autocomplete: 'off'
		= r.text_field :cost, placeholder: 'Cost', autocomplete: 'off'
		= r.submit '+'
