%h3 Add Record
= form_for Record.new, html: {class: 'form-horizontal'} do |f|
  = f.hidden_field :car_id, value: @car.id

  .form-group
    = f.label :date, class: 'control-label col-xs-3'
    .col-xs-9
      .input-group
        .input-group-btn
          .btn.btn-default#today Today
        = f.text_field :date, class: 'form-control', autocomplete: 'off', 'data-today' => Date.today.strftime("%b %-d, %Y")

  .form-group
    = f.label :mileage, class: 'control-label col-xs-3'
    .col-xs-9
      = f.number_field :mileage, class: 'form-control', autocomplete: 'off'

  .form-group
    = f.label :gallons, class: 'control-label col-xs-3'
    .col-xs-9
      = f.number_field :gallons, class: 'form-control', autocomplete: 'off'

  .form-group
    = f.label :cost, class: 'control-label col-xs-3'
    .col-xs-9
      = f.number_field :cost, class: 'form-control', autocomplete: 'off'

  .text-right
    = f.submit 'add', class: 'btn btn-primary btn-lg'
