.row
  .col-sm-8
    %h1 Cars
    %br
    - if @cars.empty?
      %p You don't have any cars!
    %ul.list-group
      - @cars.each do |car|
        %li.list-group-item{class: "#{'list-group-item-info' if car.primary?}"}
          %h4.car= link_to car, car_path(car)
          = "(#{car.records.count} record#{'s' if car.records.count != 1})"
          = link_to '#' do
            %span.glyphicon.glyphicon-pencil.pull-right

      %li.list-group-item
        = render 'cars/new'
