
%header
	%h1{style: "margin-top: 0px"}
		= @car
	= number_with_precision @car.mpg, precision: 2
	mpg
	= link_to "export", car_path(format: "csv"), class: "hidden-xs"
	-#
		.stats
			%p
				%em Average MPG:
				= number_with_precision @car.mpg, precision: 3
			%p
				%em Cost per month:
			%p
				%em Gallons per month:
%hr
= render 'records/new'
%br
#records
	- if @records.empty?
		%p no records yet!
	- else
		= render partial: 'records/list', locals: {records: @records}
