
%header
  %h1
    = @car
  = link_to "export gas", car_path(format: "csv"), class: "hidden-xs"
  |
  = link_to "import gas", import_car_path, class: "hidden-xs"
%br
%ul.nav.nav-tabs
  %li.active= link_to 'Gas', '#gas', data: { toggle: 'tab' }
  %li= link_to 'Service', '#service', data: { toggle: 'tab' }
  %li.pull-right
    .mpg.visible-xs= "#{number_with_precision @car.mpg, precision: 2} #{@mpg}"
    .mpg.hidden-xs= "#{number_with_precision @car.mpg, precision: 2} #{@long_mpg}"
.tab-content
  .tab-pane.active#gas
    = render 'records/new'
    %br
    - unless @records.empty?
      = render partial: 'records/list', locals: {records: @records, remaining: @remaining}
    - unless @remaining <= 0
      %p.text-center
        = link_to "Show all records (#{@remaining} left)", '?all=true'
    %br
  .tab-pane#service
    = render 'services/new'
    %br
    - unless @services.empty?
      = render partial: 'services/list', locals: {services: @services}
