
%header
  %h1{style: 'display: inline'}= @car
  .advanced-actions.hidden-xs{style: 'display: inline'}
    = link_to "export", car_path(format: "csv"), class: "btn btn-link"
    = link_to "import", '#', class: "button btn btn-link", 'data-toggle' => "modal", 'data-target' => "#importModal"
  %br
  %br
%ul.nav.nav-tabs
  %li.active= link_to 'Gas', '#gas', data: { toggle: 'tab' }
  %li= link_to 'Service', '#service', data: { toggle: 'tab' }
  %li.pull-right
    .mpg
      = number_with_precision(@car.mpg, precision: 2)
      %span.visible-xs-inline= mpg_label(true)
      %span.hidden-xs= mpg_label
.tab-content

  .tab-pane.active#gas
    = render 'gas_records/new'
    %br
    - unless @gas_records.empty?
      = render partial: 'gas_records/list', locals: { records: @gas_records }
      - unless @remaining <= 0
        %p.text-center
          = link_to "Show #{@remaining} remaining record#{@remaining != 1 ? 's' : ''}", '', class: 'show-all-records'
    %br

  .tab-pane#service
    = render 'service_records/new'
    %br
    - unless @service_records.empty?
      = render partial: 'service_records/list', locals: {services: @service_records}

= render 'import'