
%header
	%h1{style: "margin-top: 0px"}
		= @car
	= link_to "export", car_path(format: "csv"), class: "hidden-xs"
%br
%ul.nav.nav-tabs
	%li.active= link_to 'Gas', '#gas', data: { toggle: 'tab' }
	%li= link_to 'Service', '#service', data: { toggle: 'tab' }
	%li.pull-right
		.mpg= "#{number_with_precision @car.mpg, precision: 2} mpg"
.tab-content
	.tab-pane.active#gas
		= render 'records/new'
		%br
		#records
			- if @records.empty?
				%p no records yet!
			- else
				= render partial: 'records/list', locals: {records: @records}
	.tab-pane#service
		= render 'services/new'
		= render 'services/list'