!!! 5
%html
  %head
    %title Gas Tracker
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %link{href: "/apple-touch-icon-57x57.png", rel: "apple-touch-icon", sizes: "57x57"}/
    %link{href: "/apple-touch-icon-114x114.png", rel: "apple-touch-icon", sizes: "114x114"}/
    %link{href: "/apple-touch-icon-72x72.png", rel: "apple-touch-icon", sizes: "72x72"}/
    %link{href: "/apple-touch-icon-60x60.png", rel: "apple-touch-icon", sizes: "60x60"}/
    %link{href: "/apple-touch-icon-120x120.png", rel: "apple-touch-icon", sizes: "120x120"}/
    %link{href: "/apple-touch-icon-76x76.png", rel: "apple-touch-icon", sizes: "76x76"}/
    %link{href: "/favicon-96x96.png", rel: "icon", sizes: "96x96", type: "image/png"}/
    %link{href: "/favicon-16x16.png", rel: "icon", sizes: "16x16", type: "image/png"}/
    %link{href: "/favicon-32x32.png", rel: "icon", sizes: "32x32", type: "image/png"}/
    %meta{content: "#ffc40d", name: "msapplication-TileColor"}/
  %body
    //- if notice
    //  %div{class: "alert alert-#{flash[:notice_type]} twelve columns"}
    //    = notice
    %nav.navbar.navbar-default(role = 'navigation')
      .container
        .navbar-header
          %button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navbar-collapse')
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Gas Tracker", root_url, class: 'navbar-brand', title: "#{"View primary car" if user_signed_in?}"

        .collapse.navbar-collapse#navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li= link_to "Cars", cars_url
              %li= link_to "Sign Out", signout_url
            - else
              %li= link_to "Sign In", signin_url
              %li= link_to "Register", register_url

    .container
      = yield
