!!! 5
%html
  %head
    %title Gas Tracker
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

    %meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')/

    = render 'pages/favicons'
  %body
    %nav.navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          %button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navbar-collapse')
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Gas Tracker", root_url, class: 'navbar-brand', title: "#{"View primary car" if current_user}"

        .collapse.navbar-collapse#navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            - if current_user
              %li= link_to "Cars", cars_url
              %li= link_to "Sign Out", signout_url
            - else
              %li= link_to "Sign In", signin_url
              %li= link_to "Register", register_url

    .container
      - if flash[:notice]
        .alert.alert-dismissable{class: "alert-#{flash[:notice_type]}"}
          %button.close{type: 'button', 'data-dismiss' => "alert", 'aria-hidden' => true} &times;
          = notice
      = yield
